<script id="tmpl-MainView" type="text/html">
  <div class="MainView">
    <div class="container">
	    <div class="MainView-list">
	    
	    </div>
	    
	    <div class="MainView-taskContent">
	    
	    </div>
    </div>
    
  </div>
</script>  